@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --hue-color: 355; /* default: 225, 355 */
  --main-color: hsl(var(--hue-color), 72%, 58%);

  --font-noto-serif: "Noto Serif", serif;
  --font-noto-sans: "Noto Sans", sans-serif;
}
.navbar-bg-color {
  background-color: var(--main-color) !important;
  font-family: var(--font-noto-serif);
  font-size: 18px;
}

.btn-custom-color {
  width: 100%;
  outline: none;
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  background-color: var(--main-color);
  color: white;
}

.btn-custom-color:hover {
  cursor: pointer;
  color: var(--main-color) !important;
  background-color: white;
  border: 1px solid var(--main-color);
}

.github-button {
  width: 100%;
  outline: none;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  background-color: #21262d;
  color: white;
}
.github-button:hover {
  cursor: pointer;
  color: #21262d;
  background-color: white;
  border: 1px solid #21262d;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.card-shadow {
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.card-shadow:hover {
  box-shadow: 0 3px 6px var(--main-color);
}

.card-img {
  text-align: center;
  width: 40%;
  margin: 1rem auto;
  border-radius: 50%;
}
